.Explore{
    width: 15.7292vw;
    height: 2.8646vw;
    position: absolute;
    font-size: 1.0417vw;
    border: 0.2vw solid;
    background-color: transparent;
    color: white;
    top: 27.1875vw;
    left: 7.8125vw;
}
.Explore:hover{
    background-color: white;
    color: black;
}


.play-butt{
    position: absolute;
    right: 7%;
    top: 26.9792vw;
    bottom: 6.042vw;
    display: flex;
}

#video-click{
    width: 2.813vw;
    height: 2.813vw;
    border: 0vw solid;
    background-color: #70DA44;
    border-radius: 100%;
}
.Play{
    width: 5.313vw;
    height: 2.0833vw;
    margin: 0.8vw;
    /* background-color: red; */
    text-align: center;
    text-decoration: none;
    color: white;
    font-size: 0.938vw;
}

#view-reports{
    width: 10.9375vw;
    height: 2.7604vw;
    font-size: 0.8333vw;
    border: 0vw solid;
    color: white;
    background-color: #113456;
    position: relative;
    left: 26.4375vw;
    /* bottom: 2vw; */
    border-radius: 0.5208vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}