        /* Resetting margins and padding */
        * {
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

     
        /* Navbar styling */
        .navbar {
            position: fixed;
            top: 0;
            width: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 15px 30px;
            height: 100px;
            /* background-color: black; */
            background-color: transparent;
            transition: background-color 0.3s ease-in-out;
            z-index: 100;
        }

        .navbar.scrolled {
            background-color: #333;
        }


        .navbar .nav-links {
            display: flex;
            list-style: none;
            position: absolute;
            top: 39px;
            left: 737px;
            /* top: 39px; */
        }

        .navbar .nav-links li {
            margin: 0 2.344vw;
        }

        .navbar .nav-links li a {
            color: #fff;
            text-decoration: none;
            font-size: 1rem;
            transition: color 0.3s;
            position: relative;
       
         
        }

        .navbar .nav-links li a:hover {
            color: #ddd;
        }


         /* Search bar styling */
         .navbar .search-bar {
            display: flex;
            align-items: center;
        }

        .navbar .search-bar input {
            width: 263px;
            padding: 10px;
            height: 38px;
            border-radius: 10px;
            border: none;
            outline: none;
            background-color: transparent;
            border: 2px solid;
            color: white;
            
            transition: background-color 0.3s;
            /* margin-right: 78px; */
            position: absolute;
            left: 1343px;
        }

        .navbar .search-bar input::placeholder {
            color: #888;
        }


        /* Responsive menu button */
       .menu-toggle {
         color: red;
         width: 2cm;
         height: 2cm;
        }

     


