@import url("./Navigationbar.css");
@import url("./Button.css");
@import url("./responcive.css");
@import url("./logo.css");

body {
    font-family: Arial, sans-serif;
}

.box-header-right{
    background-color: transparent;
    /* background-color: red; */
    width: 110%;
    height: auto;
}
.box-header-center{
    background-color: transparent;
    width: 100%;
    height: auto;
}
.box-header-left{
    /* display: flex; */
    /* background-color: rgb(82, 23, 23); */
    background-color: transparent;
    width: 100%;
    height: auto;
}
div.header-text-section{
    font-size: 72px;
    /* background-color: red; */
    width: 682px;
    height: 288px;
    color: white;
    position: relative;
    top: 206px;
    left: 112px;
    line-height: 90%;
    text-align: left;
    bottom: 178px;
}

@media screen and (max-width: 1900px) {
    div.header-text-section{
        font-size: 45px;
        /* background-color: red; */
        width: 370px;

        height: auto;
        color: white;
        position: relative;
        top: 140px;
        left: 112px;
        line-height: 90%;
        text-align: left;
        bottom: 178px;
    }
}
@media screen and (max-width: 1000px) {
    div.header-text-section{
        font-size: 1cm;
        /* background-color: red; */
        width: 300px;
        height: 288px;
        color: white;
        position: relative;
        top: 206px;
        left: 11px;
        text-align: left;
        line-height: 90%;
        bottom: 178px;
    }
}

