#myTab{
    position: relative;
    top: 5vw;
    background-color: #F2F2F2;
    width: 40.2083vw;
    border-radius: 16px;
    border: 0vw solid;
    height: 2.5521vw;
    left: 27.4479vw;
}
.top-nav-men-reports{
    display: flex;
}
.nav-item1{
    background-color: transparent;
    display: flex;
    margin: -0.2vw;
    
}
.show{
    background-color: transparent;
}

.filter-btn{
    border: 0vw solid;
 
    background-color: transparent;
    color: #9A9898;
    border-radius: 0.8333vw;
    /* padding: 0.5vw; */
    width: 5vw;
    font-size: 0.5208vw;
    position: relative;
    height: 1.7188vw;
    top: 0.6vw;
    /* bottom: 0.vw; */
    right: 7px;
}
.n2{
    width: 7.6042vw;
}
.n3{
    width: 7.2917vw;
}
.filter-btn.active {
    background-color: #153C66;
    color: white;
  }



  .partner-slider .my-slider {
    margin: 0;
}

.partner-slider .my-slider .slick-slide {
    margin: 0vw 1.5625vw;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* ************************************************************ */

.sction-service{
    /* background-color: red; */
    height: 33VW;
}
.container1{
    position: relative;
    /* top: 4.1667vw; */
    bottom: 5vw;
    margin: 10vw;
}
.Service{
    font-size: 3.1250vw;
    /* background-color: red; */
    color:  hsla(210, 67%, 20%, 1);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    width: 90%;
    text-align: center;
    position: relative;
    top: 1.0625vw;
    left: 2.6042vw;
}
.row{
    position: relative;
    top: 36px;
}
.offer-lists{
    position: relative;
    top: 1.8750vw;
    display: grid;
    grid-template-columns: auto auto auto;
    grid-gap: 2.5208vw;
}
.offer-box{
    width: 100%;
    max-width: 22.3958vw;
    background-color: #113456;
    border-radius: 0.9375vw;
    padding: 0.7813vw 1.6667vw 1.3021vw 1.6667vw;
    /* flex: 0 0 calc(33.3333% - 33.3333px); */
}

.btn-box{
    
    font-family: var(--title-font);
    color: var(--white-color);
    font-size: 0.6250vw;
    line-height: 0.7813;
    font-weight: 400;
    background: transparent;
    border: 0.1vw solid #DCDBDD;
    border-radius: 1.5625vw;
    padding: 0.2604vw 0.7813vw;
    display: inline-block;
    transition: var(--transition);
    max-width: 5.2083vw;
}

.btn-box a{
    text-decoration: none;
    
    color:  rgb(214, 214, 214);

}
.offer-box{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:  rgb(255, 255, 255);
    line-height: 1.2740vw;
    font-size: 1.0417vw; 
    font-weight: 700;
    margin: 0 0 0.5208vw 0;

}

.textj5{
    color:  rgb(214, 214, 214);
    font-size: 0.7292vw;
}



